.container {
  display: flex;
  align-items: center;
  background-color: #fffb;
  padding: 20px;
  border-radius: 20px;
  vertical-align: baseline;
  margin: auto 10px;
}

.container_entry {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* height: 200px; */
}

.container_buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  /* height: 200px; */
}

.button {
  margin: 5px;
  padding: 12px 32px;
  /* gap: 12px; */
  width: 200px;
  height: 50px;
  background: rgba(0, 0, 0, 0.9);
  /* Grayscale/Metal */
  /* box-shadow: 2px 2px 3px rgb(142, 142, 142); */
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.5s;
  color: #000;
  font-size: large;
  font-weight: 600;
  border: solid 2px;
}

.button:hover {
  filter: brightness(90%);
  /* box-shadow: 6px 6px 6px rgb(234, 234, 234); */
  transform: translateY(-2px);
}

.button p {
  font-style: normal;
  font-size: 18px;
  line-height: 28px;
}

.form {
  min-height: 60px;
  margin: auto;
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.form input {
  margin: 10px;
  padding: 2px;
  font: inherit;
  text-indent: 3px;
  border-color: #dddddd;
  border-width: 2px;
  border-radius: 5px;
}

.betting_wallet {
  margin: 5px auto;
}

.error_message {
  padding: 5px 0px;
  color: red;
  text-align: center;
}

.message {
  text-align: center;
  padding: 5px 0px;
}
